.sign-index-page{
	background-color: #fff;
	width: 100%;
	height: 100vh;
	position: relative;
	.sign-box{
		margin-bottom: 15rpx;
	}
	.tab-box{
		width: 100%;
		height: 88rpx;
		background-color: #fff;
		box-shadow: 0px 3rpx 8rpx 0px rgba(0, 0, 0, 0.16);
		display: flex;
		align-items: center;
		padding: 0 58rpx;
		> view, div{
			font-size: 30rpx;
			color: #000;
			text-align: center;
			flex: 1;
			height: 100%;
			line-height: 88rpx;
			&.active{
				color: #FF6633;
				position: relative;
				&::after{
					content: '';
					position: absolute;
					width: 90rpx;
					height: 1px;
					background-color: #FF6633;
					bottom: 20rpx;
					left: 50%;
					margin-left: -45rpx;
				}
			}
		}
	}
	.list-box{
		padding: 0rpx 50rpx;
		height: calc(100vh - 1045rpx);
		.ul-box{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 160rpx;
		}
		.li-box{
			box-sizing: border-box;
			&.img-list{
				width: 200rpx;
				height: 254rpx;
			}
			&.format-list{
				width: 200rpx;
				height: 254rpx;
			}
			border-radius: 16rpx;
			display: inline-block;
			margin: 16rpx 8rpx 0;
			overflow: hidden;
			position: relative;
			box-shadow: 0px 0rpx 2rpx 0px rgba(0, 0, 0, 0.16);
			&.active{
				border: 4rpx solid #FF6633;
			}
		}
	}
	.word-box{
		.pickerView{
			height: 80rpx;
		}
		.word-ul{
			margin-top: 8rpx;
			width: 100%;
			height: 400rpx;
			.word-item{
				text-align: center;
				line-height: 80rpx;
				font-size: 28rpx;
			}
		}
		.custom-btn{
			width: 168rpx;
			height: 72rpx;
			text-align: center;
			line-height: 60rpx;
			border: 6rpx solid rgba(51, 51, 51, 0.7);
			border-radius: 48rpx;
			color: $uni-color-primary;
			margin: 20rpx auto 0;
		}
	}
	.choose-type{
		width: 386rpx;
		height: 72rpx;
		border-radius: 36rpx;
		position: fixed;
		bottom: 60rpx;
		// bottom: env(safe-area-inset-bottom);
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 99;
		background-color: rgba(51, 51, 51, 0.7);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 6rpx;
		>view{
			width: 184rpx;
			height: 60rpx;
			border-radius: 30rpx;
			text-align: center;
			line-height: 60rpx;
			font-size: 28rpx;
			&.upload-btn{
				background-color: #fff;
				color: $uni-color-primary;
			}
			&.random-btn{
				background-color: $uni-color-primary;
				color: #fff;
			}
		}
	}
}
// .sign-content{
// 	width: 620rpx;
// 	margin: 0 auto;
// 	height: 740rpx;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	border-radius: 16rpx;
// 	margin-bottom: 14rpx;
// 	overflow: hidden;
// 	position: relative;
// 	image, img{
// 		width: 100%;
// 		height: 100%;
// 	}
	
// }
.handle-box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88rpx;
	>view, div{
		margin: 0 62rpx;
		color: #333;
		text-align: center;
	}
}
.custom-box{
	width: 624rpx;
	height: 392rpx;
	padding: 40rpx;
	border-radius: 16rpx;
	position: relative;
	margin-bottom: 70rpx;
	background-color: #fff;
	.surround{
		position: relative;
		.custom-textarea{
			box-sizing: border-box;
			display: inline-block;
			border: 1rpx solid #999;
			border-radius: 16rpx;
			height: 160rpx;
			width: 549rpx; 
			padding: 10rpx;
		}
		.maxlength{
			position: absolute;
			bottom: 20rpx;
			right: 10rpx;
			color: #333;
			font-size: 28rpx;
		}
	}
	.submit-btn{
		width: 200rpx;
		height: 72rpx;
		border: 1rpx solid #999;
		color: #999;
		text-align: center;
		line-height: 70rpx;
		border-radius: 36rpx;
		margin: 34rpx auto 0;
		&.can{
			color: $uni-color-primary;
			border: 1rpx solid $uni-color-primary;
		}
	}
	.custom-close{
		position: absolute;
		bottom: -70rpx;
		left: 50%;
		color: #fff;
		transform: translate(-50%, 0);
	}
}
.share-handle-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rpx 30rpx;
	.btn{
		width: 288rpx;
		height: 72rpx;
		text-align: center;
		line-height: 70rpx;
		font-size: 28rpx;
		border-radius: 36rpx;
		border: 1rpx solid $uni-color-primary;
		&.save-btn{
			color: $uni-color-primary;
			background-color: #fff;
		}
		&.share-btn{
			color: #fff;
			background-color: $uni-color-primary;
		}
	}
}
